:root {
  --color-light-primary: #fffffe;
  --color-light-secondary: #ff735c;
  --color-dark-primary: #1a2e35;
  --color-dark-secondary: #2f5596;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
